@charset "utf-8";

.container {
  text-align: center;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.viewer {
  text-align: center;
  position: relative;
  margin: auto;
  height: 100dvh;
  background-color: black;
}

#panel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#information {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

#present-image {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  object-fit: contain;
  margin: 0 auto;
}

#next-area, #prev-area {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

#prev-area {
  left: 0;
  width: 50%;
}

#next-area {
  right: 0;
  width: 50%;
}

#bar > ul {
  display: flex;
  justify-content: center;
  gap: 5px;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
}

#next, #prev {
  all: unset;
  width: 50px;
  height: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#summary {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-size: 150%;
}

#page-operation,
#page-operation > li {
  all: unset;
  list-style: none;
}

.love {
  all: unset;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  fill: rgba(0, 0, 0, 0);
  stroke: white;
  stroke-width: 2px;
}

.love:hover {
  background-color: grey;
  stroke: #d9333f ;
}

.love > svg {
  margin: 8px;
}

.love-active {
  stroke: #d9333f ;
  fill: #d9333f ;
  fill-rule: evenodd;
}

.thumbnail {
  cursor: pointer;
}

.present {
  border: 3px solid pink;
}

#status, #page-operation {
  padding-top: 10px;
  padding-bottom: 10px;
}

#input-page-num {
  width: 2em;
  font-size: 100%;
  border-style: none;
  border-radius: 4px;
  text-align: right;
  background-color: #202324;
  color: aliceblue;
}

#details {
  display: flex;
  justify-content: space-around;
}

#image-metadata,
#page-metadata {
  text-align: left;
  padding: 0;
  width: 250px;
  word-break: break-all;
}

#image-metadata dt,
#page-metadata dt {
  margin-top: 8px;
}

#image-metadata dt::after,
#page-metadata dt::after {
  content: ":";
}

#image-metadata dd,
#page-metadata dd {
  margin-left: 1em;
}