@charset "utf-8";

main {
  margin: 0;
}

#books {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 5px;
  list-style: none;
}

.book {
  flex: 1;
  width: 240px;
}