@charset "utf-8";

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: #202324;
    color: aliceblue;
}

a {
    color: #3391ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    padding: 10px 30px;
}

header > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    font-size: 1.5em;
    text-align: center;
    line-height: 35px;
    fill: white;
}

header > ul > li {
    margin: 0 10px;
}

header > ul > li:first-of-type {
    margin-right: auto;
}


#quick-scan, 
#full-scan {
    all: unset;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

#quick-scan:hover, 
#full-scan:hover {
    background-color: grey;
}

#quick-scan > svg, 
#full-scan > svg {
    margin: 8px
}

.rotate {
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
 }

footer {
    margin-top: auto;
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
    height: 4.5em;
    line-height: 1.5em;
    font-size: small;
}

footer > p {
    margin: 0;
}