<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ name }} - tuzuri</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text x=%2250%%22 y=%2250%%22 style=%22dominant-baseline:central;text-anchor:middle;font-size:90px;%22>🎀</text></svg>">
  <link rel="stylesheet" href="css/main.css?sha512=yE8K4Yb" crossorigin="anonymous" integrity="sha512-yE8K4YbPkfCJPuV9nA20IrUSTf/uMVaMPwZGFgBBp99loe3EMedgaXRhtz6d7T8QkdMw6J0Yw39ge5MOOQVMMg==">
  <link rel="stylesheet" href="css/images.css?sha512=GeIjKxA" crossorigin="anonymous" integrity="sha512-GeIjKxAuCWrDmQRQ41ofhs3e99rORfmF3gEPKmyzwCE71kNodQqUXJghqDfN2gdsnrDbMYkwxcmtLh1dhwqv/A==">
</head>
<body>
  <div class="container">
    <main>
      <div class="viewer">
        <img src="{{ pages[0].url }}" alt="" id="present-image">
        <a id="prev-area"></a>
        <a id="next-area"></a>
      </div>
    </main>
    <section id="panel">
      <button id="prev"></button>
      <section id="information">
        <div id="summary">
          <div id="status">
            <form id="page-form">
              <input inputmode="numeric" id="input-page-num" value="1" min="1">
              <spam id="progress">  / ( %)</spam>
            </form>
          </div>
          <ul id="page-operation">
            <li><button class="love" title="Love"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <metadata>
                <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                  xmlns:dc="http://purl.org/dc/elements/1.1/"
                  xmlns:dcterms="http://purl.org/dc/terms/">
                <rdf:Description rdf:about="http://evericons.com">
                  <dc:title>evericons-heart-adapted</dc:title>
                  <dcterms:license rdf:resource="https://creativecommons.org/publicdomain/zero/1.0/"/>
                  <dc:rights>
                    <dc:rightsStatement>
                      <dc:rightsHolder>Aleksey Popov</dc:rightsHolder>
                      <dc:rightsType>Public Domain</dc:rightsType>
                    </dc:rightsStatement>
                  </dc:rights>
                  <dcterms:date>2018-11-15</dcterms:date>
                </rdf:Description>
                </rdf:RDF>
              </metadata>
              <path d="M7.455 2a6.67 6.67 0 0 0-1.672.219 6.085 6.085 0 0 0-3.168 2.078 6.577 6.577 0 0 0-.72 1.092 7.087 7.087 0 0 0-.62 1.58c-.03.112-.056.227-.082.342-.025.115-.05.23-.07.347a8.333 8.333 0 0 0-.092.719 8.66 8.66 0 0 0 .047 1.877 8.497 8.497 0 0 0 .236 1.125 9.215 9.215 0 0 0 .39 1.115 10.536 10.536 0 0 0 .538 1.106 12.36 12.36 0 0 0 .686 1.097 16.42 16.42 0 0 0 1.303 1.627 19.966 19.966 0 0 0 1.044 1.072 24.474 24.474 0 0 0 1.215 1.09 29.084 29.084 0 0 0 1.36 1.076 31.756 31.756 0 0 0 1.382.977 21.163 21.163 0 0 0 1.9 1.139l.868.449.867-.45c.19-.097.388-.207.594-.325a21.164 21.164 0 0 0 1.307-.813 29.81 29.81 0 0 0 2.072-1.506 29.086 29.086 0 0 0 1.31-1.103 24.474 24.474 0 0 0 1.116-1.069 19.965 19.965 0 0 0 .974-1.078 16.42 16.42 0 0 0 .832-1.086 13.61 13.61 0 0 0 .686-1.097 10.534 10.534 0 0 0 .754-1.662 9.212 9.212 0 0 0 .41-1.684 8.264 8.264 0 0 0 .047-1.87 8.265 8.265 0 0 0-.162-1.058 7.854 7.854 0 0 0-.418-1.31 7.309 7.309 0 0 0-1.014-1.698 6.606 6.606 0 0 0-.43-.478 6.418 6.418 0 0 0-.472-.434 6.246 6.246 0 0 0-.512-.379A6.188 6.188 0 0 0 16.553 2a10.748 10.748 0 0 0-1.445.082 6.847 6.847 0 0 0-.825.164 6.018 6.018 0 0 0-.785.27 7.435 7.435 0 0 0-.687.334c-.096.053-.19.107-.284.166a6.17 6.17 0 0 0-.537.38 6.268 6.268 0 0 0-1.472-.855 6.664 6.664 0 0 0-.805-.281 6.93 6.93 0 0 0-1.281-.223A13.134 13.134 0 0 0 7.455 2z"/>
            </svg></button></li>
          </ul>
        </div>
        <nav id="bar">
          <ul>
            {%- for page in pages %}
            {%- if loop.first %}
            <li class="thumbnail-li"><img src="{{ page.url }}" id="sha3512-{{ page.hash }}" height="100" width="60" data-braidid="{{ page.braidid }}" data-capacity="{{ page.capacity }}" data-mime="{{ page.mime }}" class="thumbnail present"></li>
            {%- elif loop.index <= 11 %}
            <li class="thumbnail-li"><img src="{{ page.url }}" id="sha3512-{{ page.hash }}" height="100" width="60" data-braidid="{{ page.braidid }}" data-capacity="{{ page.capacity }}" data-mime="{{ page.mime }}" class="thumbnail"></li>
            {%- else %}
            <li class="thumbnail-li" hidden><img src="{{ page.url }}" id="sha3512-{{ page.hash }}" height="100" width="60" data-braidid="{{ page.braidid }}" data-capacity="{{ page.capacity }}" data-mime="{{ page.mime }}" class="thumbnail" loading="lazy"></li>
            {%- endif %}
            {%- endfor %}
          </ul>
        </nav>
        <section id="details">
          <article id="image-metadata">
            <p>image metadata<p>
            <dl>
              <dt>mime type</dt>
              <dd id="mime"></dd>
              <dt>capacity</dt>
              <dd id="capacity"></dd>
              <dt>dimensions</dt>
              <dd id="dimensions"></dd>
              <dt>display dimensions</dt>
              <dd id="display-dimensions"></dd>
              <dt>dimensions quality for display</dt>
              <dd id="quality"></dd>
              <dt>SHA3-512</dt>
              <dd><code id="hash"></code></dd>
            </dl>
          </article>
          <article id="page-metadata">
            <p>page metadata</p>
            <dl>
              <dt>page id</dt>
              <dd id="page-id"></dd>
              <dt>authors</dt>
              <dd id="authors"></dd>
              <dt>organization</dt>
              <dd id="organization"></dd>
              <dt>user tags</dt>
              <dd id="user-tags"></dd>
              <dt>user comments</dt>
              <dd id="user-comments"></dd>
            </dl>
          </article>
        </section>
        <footer>
          <p><a href="https://codeberg.org/tuzuri/tuzuri" target="_blank" rel="noopener noreferrer">tuzuri</a> is <a href="{{ f.wikipedia }}" target="_blank" rel="noopener noreferrer">free software</a> for creating, organizing and publishing works.</p>
          <p>{{ f.host_domain }} is running <a href="{{ f.repo_url }}" target="_blank" rel="noopener noreferrer">{{ f.repo_name }}</a> version <a href="{{ f.version_url }}" target="_blank" rel="noopener noreferrer">{{ f.version }}</a>, available under the <a href="{{ f.license_url }}" target="_blank" rel="noopener noreferrer">{{ f.license_name }}</a>.</p>
        </footer>
      </section>
      <button id="next"></button>
    </section>
  </div>
  <script src="js/script.js?sha512=u/taTqn" crossorigin="anonymous" integrity="sha512-u/taTqng8X7DFk7bCJOwAkpvtyHTRLg2jsenN+0EaSpTVpbpp3j/Zjcqs5O8hsSO7lIjjRrPwkO1uYIf0RkwKQ=="></script>
</body>
</html>
