<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tuzuri</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text x=%2250%%22 y=%2250%%22 style=%22dominant-baseline:central;text-anchor:middle;font-size:90px;%22>🎀</text></svg>">
  <link rel="stylesheet" href="css/main.css?sha512=yE8K4Yb" crossorigin="anonymous" integrity="sha512-yE8K4YbPkfCJPuV9nA20IrUSTf/uMVaMPwZGFgBBp99loe3EMedgaXRhtz6d7T8QkdMw6J0Yw39ge5MOOQVMMg==">
  <link rel="stylesheet" href="css/index.css?sha512=ex8Epo0" crossorigin="anonymous" integrity="sha512-ex8Epo0vvraWyD542Y7j7kthsazlCEt4rsM8JB322cO8Ym+NpZU1LQll+m7D0kHCqesEa4NmOOz4++updfiqRA==">
</head>
<body>
  <div>
    <header>
      <ul>
        <li>tuzuri</li>
        <li><button id="quick-scan" title="Quick Scan"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <metadata>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
              xmlns:dc="http://purl.org/dc/elements/1.1/"
              xmlns:dcterms="http://purl.org/dc/terms/">
            <rdf:Description rdf:about="http://evericons.com">
              <dc:title>evericons-rotate-cw</dc:title>
              <dcterms:license rdf:resource="https://creativecommons.org/publicdomain/zero/1.0/"/>
              <dc:rights>
                <dc:rightsStatement>
                  <dc:rightsHolder>Aleksey Popov</dc:rightsHolder>
                  <dc:rightsType>Public Domain</dc:rightsType>
                </dc:rightsStatement>
              </dc:rights>
              <dcterms:date>2018-11-15</dcterms:date>
            </rdf:Description>
            </rdf:RDF>
          </metadata>
          <path fill-rule="evenodd" d="M17.8069373,7 C16.4464601,5.07869636 14.3936238,4 12,4 C7.581722,4 4,7.581722 4,12 C4,16.418278 7.581722,20 12,20 C16.418278,20 20,16.418278 20,12 L22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 C14.8042336,2 17.274893,3.18251178 19,5.27034886 L19,2 L21,2 L21,9 L14,9 L14,7 L17.8069373,7 Z"/>
        </svg></button></li>
        <li><button id="full-scan" title="Full Scan"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <metadata>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
              xmlns:dc="http://purl.org/dc/elements/1.1/"
              xmlns:dcterms="http://purl.org/dc/terms/">
            <rdf:Description rdf:about="http://evericons.com">
              <dc:title>evericons-refresh-cw</dc:title>
              <dcterms:license rdf:resource="https://creativecommons.org/publicdomain/zero/1.0/"/>
              <dc:rights>
                <dc:rightsStatement>
                  <dc:rightsHolder>Aleksey Popov</dc:rightsHolder>
                  <dc:rightsType>Public Domain</dc:rightsType>
                </dc:rightsStatement>
              </dc:rights>
              <dcterms:date>2018-11-15</dcterms:date>
            </rdf:Description>
            </rdf:RDF>
          </metadata>
          <path fill-rule="evenodd" d="M17.8069373,7 C16.4464601,5.07869636 14.3936238,4 12,4 C7.581722,4 4,7.581722 4,12 L2,12 C2,6.4771525 6.4771525,2 12,2 C14.8042336,2 17.274893,3.18251178 19,5.27034886 L19,2 L21,2 L21,9 L14,9 L14,7 L17.8069373,7 Z M6.19306266,17 C7.55353989,18.9213036 9.60637619,20 12,20 C16.418278,20 20,16.418278 20,12 L22,12 C22,17.5228475 17.5228475,22 12,22 C9.19576641,22 6.72510698,20.8174882 5,18.7296511 L5,22 L3,22 L3,15 L10,15 L10,17 L6.19306266,17 Z"/>
        </svg></button></li>
      </ul>
      </header>
    <main>
      <ul id="books">
        {%- for work in works %}
        <li class="book">
          <a href="{{ work.id }}">
            {%- if loop.index <=10 %}
            <img src="{{ work.cover_url }}" height="400" width="240" alt="{{ work.name }}">
            {%- else %}
            <img src="{{ work.cover_url }}" height="400" width="240" alt="{{ work.name }}" loading="lazy">
            {%- endif %}
            <p>{{ work.name }}</p>
          </a>
        </li>
        {%- endfor %}
      </ul>
    </main>
  </div>
  <footer>
    <p><a href="https://codeberg.org/tuzuri/tuzuri" target="_blank" rel="noopener noreferrer">tuzuri</a> is <a href="{{ f.wikipedia }}" target="_blank" rel="noopener noreferrer">free software</a> for creating, organizing and publishing works.</p>
    <p>{{ f.host_domain }} is running <a href="{{ f.repo_url }}" target="_blank" rel="noopener noreferrer">{{ f.repo_name }}</a> version <a href="{{ f.version_url }}" target="_blank" rel="noopener noreferrer">{{ f.version }}</a>, available under the <a href="{{ f.license_url }}" target="_blank" rel="noopener noreferrer">{{ f.license_name }}</a>.</p>
  </footer>
  <script src="js/script.js?sha512=u/taTqn" crossorigin="anonymous" integrity="sha512-u/taTqng8X7DFk7bCJOwAkpvtyHTRLg2jsenN+0EaSpTVpbpp3j/Zjcqs5O8hsSO7lIjjRrPwkO1uYIf0RkwKQ=="></script>
</body>
</html>